$light_gray = #F4F4F4
$medium_gray = #D5D6D8
$left_column_width = 200px

html
  background-color: $light_gray

h1,h2,h3,h4
  +block

body
  +relative
  background-color: #fff
  padding-top: 30px
  width: auto

#contents
  +box-round(10px)
  +colorize($light_gray, $medium_gray)
  margin: 0 0 30px $left_column_width
  padding: 30px 0
  min-height: 250px
  width: 640px
  &.wide
    width: 800px
  .subheader
    font-size: 17px
  h2
    +bold
    color: #B83000
    padding: 40px 0 20px
  h3
    padding: 20px 0 10px
  h4
    padding: 10px 0 5px
  .section
    padding: 10px 50px
  #post
    border-bottom: 1px solid $medium_gray
  #disqus_thread
    border-top: 1px solid #fff

  &.resume, &.open-source, &.music
    +pretty-li

#about
  +relative
  +sans-serif
  font-size: 14px
  border-top: 1px solid $medium_gray
  background-color: $light_gray
  padding: 30px 0 30px $left_column_width
  min-height: 120px
  h2
    +bold
    font-size: 14px
  .links
    +absolute
    left: 0
    margin: 30px 0 30px 80px
    top: 0
    width
  .bio
    width: 600px

#page, #post
  .content
    margin: 15px 0

#page
  p
    margin-top: 15px

#contents.music
  h2
    padding: 20px 0 5px 0
  #recordings + p
    margin: 0 0 5px 0
