<ul class="audio-list">
  <li>
    <a>Ganen Jie</a>
    <audio><source src="/n/audio/compositions/ganen-jie.mp3"></source></audio>
  </li>
  <li>
    <a>Thirst for Water, Inquiry for Truth</a>
    <audio><source src="/n/audio/compositions/thirst-for-water-inquiry-for-truth.mp3"></source></audio>
  </li>
  <li>
    <a>Ah, Holy Jesus!</a>
    <audio><source src="/n/audio/compositions/ah-holy-jesus.mp3"></source></audio>
  </li>
  <li>
    <a>Fugue in Gm</a>
    <audio><source src="/n/audio/compositions/fugue-in-gm.mp3"></source></audio>
  </li>
</ul>
