<div id='menu'>
  <div class="dev-blog{% if page.section == 'dev-blog' %} active{% endif %}">
    <a href='/n/dev-blog'>Dev Blog</a>
  </div>
  <div class="china{% if page.section == 'china' %} active{% endif %}">
    <a href='/n/china'>China</a>
  </div>
  <div class="music{% if page.section == 'music' %} active{% endif %}">
    <a href='/n/music'>Music</a>
  </div>
  <div class="open-source{% if page.section == 'open-source' %} active{% endif %}">
    <a href='/n/open-source'>Open Source</a>
  </div>
</div>
