<ul class="audio-list">
  <li>
    <a title="click to listen">Expect to Weep</a>
    (from <a href="http://www.cdbaby.com/cd/phileasfogg">Sun and Rain</a>)
    <audio><source src="/n/audio/recordings/expect-to-weep.mp3"></source></audio>
  </li>
  <li>
    <a title="click to listen">Trust in a Sigh</a>
    (from <a href="http://www.ghostsandspirits.net/the-album/trust-in-a-sigh/">Ghosts and Spirits</a>)
    <audio><source src="/n/audio/recordings/trust-in-a-sigh.mp3"></source></audio>
  </li>
  <li>
    <a title="click to listen">Vetoing Heaven</a>
    (from <a href="http://www.ghostsandspirits.net/the-album/vetoing-heaven/">Ghosts and Spirits</a>)
    <audio><source src="/n/audio/recordings/vetoing-heaven.mp3"></source></audio>
  </li>
</ul>
