<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Myron Marston &raquo; {{ page.title | xml_escape }}</title>
    <link href="{{ '/n/stylesheets/screen.css' | cache_bust }}" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" href="/n/atom.xml" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    {% include header.html %}
    <div id='contents' class='{{ page.contents_class }} {{ page.section }}'>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>

